# Include c lib source
include src/mf_c_lib/*.c
include src/mf_c_lib/*.h
include src/mf_c_lib/utils/*.c
include src/mf_c_lib/utils/*.h
include src/mf_c_lib/Makefile

# Include cuda lib source
include src/gmf_cuda_lib/*.cu
include src/gmf_cuda_lib/*.h
include src/gmf_cuda_lib/Makefile

# Include docs and examples
recursive-include docs *
