# .clang-format file
BasedOnStyle: Google
IndentWidth: 4
ColumnLimit: 120
AlignAfterOpenBracket: BlockIndent
BinPackArguments: false
BinPackParameters: false
InsertTrailingCommas: Wrapped
AllowAllParametersOfDeclarationOnNextLine: false
